body {
    margin: 0;
    font-display: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
}

header {
    margin: 0;
    padding-top: 40px;
}

form {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

input {
    font-size: 6em;
    border: none;
    width: 100%;
    background-color: #f1f1f1;
    font-weight: 600;
    color: #ec5a62;
}

input::placeholder {
    color: #c2c2c2;
}

button {
    border: 0;
    padding: 0;
}

button img {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    transition: 0.5s;
}

button img:hover {
    transform: scale(1.3)
}

div {
    display: block;
    width: 80%;
    margin: 0 auto;
}

aside {
    display: inline-block;
    width: 30%;
}

h2 {
    font-family: sans-serif;
    color: #c2c2c2;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

li {
    display: inline-block;
    background: rgba(118,117,128,0.05);
}

li:hover {
    background: rgba(118,117,128,0.1);
}

a {
    font-family: sans-serif;
    color: rgba(145,145,145,0.7);
    text-decoration: none;
}